In [1]:
import pandas as pd
import numpy as np

In [2]:
pwd

'C:\\Users\\vshaa'

## Reading a CSV file using Pandas

[Pandas](https://pandas.pydata.org/) is a popular Python library used for working in tabular data (similar to the data stored in a spreadsheet). Pandas provides helper functions to read data from various file formats like CSV, Excel spreadsheets, HTML tables, JSON, SQL, and more.

To read the file, we can use the read_csv method from Pandas. First, let's install the Pandas library.

In [27]:
df = pd.read_csv('C:\\Users\\vshaa\\Desktop\\CovidData.csv')

In [28]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133591,ZWE,Africa,Zimbabwe,2021-11-11,133329.0,27.0,31.000,4694.0,0.0,1.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
133592,ZWE,Africa,Zimbabwe,2021-11-12,133329.0,0.0,31.000,4694.0,0.0,1.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
133593,ZWE,Africa,Zimbabwe,2021-11-13,133393.0,64.0,32.143,4696.0,2.0,1.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
133594,ZWE,Africa,Zimbabwe,2021-11-14,133428.0,35.0,34.429,4696.0,0.0,1.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
133595,ZWE,Africa,Zimbabwe,2021-11-15,133438.0,10.0,33.286,4697.0,1.0,1.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

#### Looking only at the cases in Canada

In [29]:
df_main = df[df.location == 'Canada']

In [30]:
df_main.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
21171,CAN,North America,Canada,2020-01-26,1.0,1.0,NaN,NaN,NaN,NaN,...,12.0,16.6,NaN,2.5,82.43,0.929,-580.3,-2.28,-1.97,-15.243809
21172,CAN,North America,Canada,2020-01-27,1.0,0.0,NaN,NaN,NaN,NaN,...,12.0,16.6,NaN,2.5,82.43,0.929,NaN,NaN,NaN,NaN
21173,CAN,North America,Canada,2020-01-28,2.0,1.0,NaN,NaN,NaN,NaN,...,12.0,16.6,NaN,2.5,82.43,0.929,NaN,NaN,NaN,NaN
21174,CAN,North America,Canada,2020-01-29,2.0,0.0,NaN,NaN,NaN,NaN,...,12.0,16.6,NaN,2.5,82.43,0.929,NaN,NaN,NaN,NaN
21175,CAN,North America,Canada,2020-01-30,2.0,0.0,NaN,NaN,NaN,NaN,...,12.0,16.6,NaN,2.5,82.43,0.929,NaN,NaN,NaN,NaN

### Filtering the columns according to the requirements

In [32]:
df_main = df_main[['location', 
                   'date',
                  'new_cases',
                  'new_deaths',
                  'tests']]

In [33]:
df_main.head()

      location        date  new_cases  new_deaths  tests
21171   Canada  2020-01-26        1.0         NaN    NaN
21172   Canada  2020-01-27        0.0         NaN    NaN
21173   Canada  2020-01-28        1.0         NaN    NaN
21174   Canada  2020-01-29        0.0         NaN    NaN
21175   Canada  2020-01-30        0.0         NaN    NaN

In [34]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 660 entries, 21171 to 21830
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    660 non-null    object
 1   date        660 non-null    object
 2   new_cases   660 non-null    float64
 3   new_deaths  617 non-null    float64
 4   tests       622 non-null    float64
dtypes: float64(3), object(2)
memory usage: 30.9+ KB

In [35]:
df_main.describe()

          new_cases  new_deaths          tests
count    660.000000  617.000000     622.000000
mean    2667.912121   47.706645   76427.977492
std     2580.542403   48.481887   38536.947190
min        0.000000   -1.000000      18.000000
25%      551.750000   11.000000   47082.500000
50%     1694.500000   32.000000   76619.500000
75%     4196.750000   63.000000  105573.500000
max    11381.000000  244.000000  160320.000000

In [36]:
df_main.columns

Index(['location', 'date', 'new_cases', 'new_deaths', 'tests'], dtype='object')

In [37]:
!pip install jovian --upgrade --quiet
import jovian
jovian.commit(project='python-pandas-data-analysis')

[jovian] Please enter your API key ( from https://jovian.ai/ ):
API KEY: ········
[jovian] Updating notebook "vishalmoradia/python-pandas-data-analysis" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/vishalmoradia/python-pandas-data-analysis

'https://jovian.ai/vishalmoradia/python-pandas-data-analysis'

In [38]:
df_main['new_cases']

21171       1.0
21172       0.0
21173       1.0
21174       0.0
21175       0.0
          ...
21826    1441.0
21827    3922.0
21828    1352.0
21829    1378.0
21830    4370.0
Name: new_cases, Length: 660, dtype: float64

In [39]:
type(df_main['new_cases'])

pandas.core.series.Series

In [42]:
df_main.sample(10)

      location        date  new_cases  new_deaths     tests
21540   Canada  2021-01-29     4813.0       149.0  132951.0
21432   Canada  2020-10-13     4245.0        32.0   89413.0
21827   Canada  2021-11-12     3922.0        45.0   95840.0
21747   Canada  2021-08-24     2222.0        34.0   72324.0
21379   Canada  2020-08-21      707.0        14.0   60688.0
21779   Canada  2021-09-25     1045.0        13.0  120336.0
21423   Canada  2020-10-04     2111.0        44.0  111354.0
21300   Canada  2020-06-03      667.0        54.0   29526.0
21663   Canada  2021-06-01     1726.0        19.0   72790.0
21543   Canada  2021-02-01     4588.0       104.0  102060.0

## Analyzing data from data frames

Let's try to answer some questions about our data.

**Q: What are the total number of reported cases and deaths related to Covid-19 in Canada?**

Similar to Numpy arrays, a Pandas series supports the `sum` method to answer these questions.

In [43]:
total_cases = df_main.new_cases.sum()
total_deaths = df_main.new_deaths.sum()

In [45]:
total_cases, total_deaths

(1760822.0, 29435.0)

**Q: What is the overall death rate (ratio of reported deaths to reported cases)?**

In [47]:
death_rate = total_deaths/total_cases

print('The overall reported death rate in Canada is {:.2f}%.'.format(death_rate*100))

The overall reported death rate in Canada is 1.67%.

In [49]:
total_tests = df_main.tests.sum()
total_tests

47538202.0

**Q: What fraction of tests returned a positive result?**

In [51]:
positive_rate = total_cases / total_tests
print('The positive rate in Canada is {:.2f}%.'.format(positive_rate*100))

The positive rate in Canada is 3.70%.

## Querying and sorting rows

Let's say we want only want to look at the days which had more than 1000 reported cases. We can use a boolean expression to check which rows satisfy this criterion.

In [55]:
high_cases = df_main.new_cases > 1000

In [56]:
df_main.loc[high_cases]

      location        date  new_cases  new_deaths     tests
21235   Canada  2020-03-30     1106.0        29.0   12123.0
21236   Canada  2020-03-31     1125.0        27.0   13600.0
21237   Canada  2020-04-01     1281.0        23.0   14021.0
21238   Canada  2020-04-02     1692.0        49.0   16421.0
21239   Canada  2020-04-03     1340.0        53.0   14858.0
...        ...         ...        ...         ...       ...
21826   Canada  2021-11-11     1441.0        14.0  104315.0
21827   Canada  2021-11-12     3922.0        45.0   95840.0
21828   Canada  2021-11-13     1352.0        14.0   89517.0
21829   Canada  2021-11-14     1378.0         9.0   80674.0
21830   Canada  2021-11-15     4370.0        50.0   74146.0

[428 rows x 5 columns]

In [57]:
import jovian
jovian.commit()

[jovian] Updating notebook "vishalmoradia/python-pandas-data-analysis" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/vishalmoradia/python-pandas-data-analysis

'https://jovian.ai/vishalmoradia/python-pandas-data-analysis'

In [59]:
df_main['positive_rate'] = df_main.new_cases / df_main.tests

In [60]:
df_main.head()

      location        date  new_cases  new_deaths  tests  positive_rate
21171   Canada  2020-01-26        1.0         NaN    NaN            NaN
21172   Canada  2020-01-27        0.0         NaN    NaN            NaN
21173   Canada  2020-01-28        1.0         NaN    NaN            NaN
21174   Canada  2020-01-29        0.0         NaN    NaN            NaN
21175   Canada  2020-01-30        0.0         NaN    NaN            NaN

However, keep in mind that sometimes it takes a few days to get the results for a test, so we can't compare the number of new cases with the number of tests conducted on the same day. Any inference based on this `positive_rate` column is likely to be incorrect. It's essential to watch out for such subtle relationships that are often not conveyed within the CSV file and require some external context. It's always a good idea to read through the documentation provided with the dataset or ask for more information.

For now, let's remove the `positive_rate` column using the `drop` method.

In [61]:
df_main.drop(columns = 'positive_rate', inplace = True)

In [62]:
df_main.head(10)

      location        date  new_cases  new_deaths  tests
21171   Canada  2020-01-26        1.0         NaN    NaN
21172   Canada  2020-01-27        0.0         NaN    NaN
21173   Canada  2020-01-28        1.0         NaN    NaN
21174   Canada  2020-01-29        0.0         NaN    NaN
21175   Canada  2020-01-30        0.0         NaN    NaN
21176   Canada  2020-01-31        2.0         NaN    NaN
21177   Canada  2020-02-01        0.0         NaN    NaN
21178   Canada  2020-02-02        0.0         NaN    NaN
21179   Canada  2020-02-03        0.0         NaN    NaN
21180   Canada  2020-02-04        0.0         NaN    NaN

### Sorting rows using column values

The rows can also be sorted by a specific column using `.sort_values`. Let's sort to identify the days with the highest number of cases, then chain it with the `head` method to list just the first ten results.

As we can see that the most cases were observed in `September, 2021` while the highest number of deaths were registered in `April, 2020`.

In [64]:
df_main.sort_values('new_cases', ascending=False).head(20)

      location        date  new_cases  new_deaths     tests
21781   Canada  2021-09-27    11381.0        56.0   84506.0
21634   Canada  2021-05-03    10985.0        42.0  141190.0
21607   Canada  2021-04-06    10865.0        46.0   85363.0
21514   Canada  2021-01-03    10643.0        92.0  112605.0
21613   Canada  2021-04-12    10541.0        41.0  129708.0
21620   Canada  2021-04-19    10316.0        44.0  123321.0
21515   Canada  2021-01-04    10067.0       241.0   88136.0
21761   Canada  2021-09-07     9921.0        49.0   61717.0
21616   Canada  2021-04-15     9778.0        55.0  133832.0
21519   Canada  2021-01-08     9395.0       142.0  135490.0
21767   Canada  2021-09-13     9288.0        42.0   80018.0
21610   Canada  2021-04-09     9266.0        40.0  147257.0
21630   Canada  2021-04-29     9263.0        52.0  151954.0
21617   Canada  2021-04-16     9258.0        41.0  160320.0
21601   Canada  2021-03-31     9128.0        33.0   94212.0
21774   Canada  2021-09-20     8986.0        42.0   96459.0
21615   Canada  2021-04-14     8952.0        53.0  106751.0
21627   Canada  2021-04-26     8916.0        59.0  119641.0
21623   Canada  2021-04-22     8901.0        59.0  137021.0
21641   Canada  2021-05-10     8873.0        56.0   90029.0

In [65]:
df_main.sort_values('new_deaths', ascending=False).head(20)

      location        date  new_cases  new_deaths     tests
21265   Canada  2020-04-29     1764.0       244.0   23754.0
21270   Canada  2020-05-04     1560.0       242.0   34119.0
21515   Canada  2021-01-04    10067.0       241.0   88136.0
21252   Canada  2020-04-16     2567.0       203.0   12531.0
21267   Canada  2020-05-01     1833.0       202.0   30676.0
21509   Canada  2020-12-29     8667.0       200.0   78373.0
21264   Canada  2020-04-28     1676.0       197.0   26977.0
21258   Canada  2020-04-22     2307.0       195.0   21125.0
21257   Canada  2020-04-21     1743.0       193.0   21372.0
21539   Canada  2021-01-28     4725.0       191.0  123413.0
21261   Canada  2020-04-25     1563.0       187.0   28763.0
21531   Canada  2021-01-20     5772.0       185.0   79456.0
21263   Canada  2020-04-27     1619.0       185.0   27518.0
21533   Canada  2021-01-22     5730.0       181.0  138310.0
21524   Canada  2021-01-13     7082.0       180.0   93543.0
21260   Canada  2020-04-24     1697.0       180.0   24979.0
21266   Canada  2020-04-30     1655.0       179.0   27778.0
21259   Canada  2020-04-23     1669.0       171.0   24192.0
21271   Canada  2020-05-05     1357.0       170.0   28573.0
21526   Canada  2021-01-15     6844.0       170.0  144244.0

Looking at the days with the least number of cases

In [66]:
df_main.sort_values('new_cases', ascending=True).head(10)

      location        date  new_cases  new_deaths  tests
21194   Canada  2020-02-18        0.0         NaN    NaN
21198   Canada  2020-02-22        0.0         NaN    NaN
21192   Canada  2020-02-16        0.0         NaN    NaN
21191   Canada  2020-02-15        0.0         NaN    NaN
21190   Canada  2020-02-14        0.0         NaN    NaN
21189   Canada  2020-02-13        0.0         NaN    NaN
21188   Canada  2020-02-12        0.0         NaN    NaN
21187   Canada  2020-02-11        0.0         NaN    NaN
21186   Canada  2020-02-10        0.0         NaN    NaN
21185   Canada  2020-02-09        0.0         NaN    NaN

In [67]:
import jovian
jovian.commit()

[jovian] Updating notebook "vishalmoradia/python-pandas-data-analysis" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/vishalmoradia/python-pandas-data-analysis

'https://jovian.ai/vishalmoradia/python-pandas-data-analysis'

## Working with dates

While we've looked at overall numbers for the cases, tests, positive rate, etc., it would also be useful to study these numbers on a month-by-month basis. The `date` column might come in handy here, as Pandas provides many utilities for working with dates.

In [68]:
df_main.date

21171    2020-01-26
21172    2020-01-27
21173    2020-01-28
21174    2020-01-29
21175    2020-01-30
            ...
21826    2021-11-11
21827    2021-11-12
21828    2021-11-13
21829    2021-11-14
21830    2021-11-15
Name: date, Length: 660, dtype: object

The data type of date is currently `object`, so Pandas does not know that this column is a date. We can convert it into a `datetime` column using the `pd.to_datetime` method.

In [69]:
df_main['date'] = pd.to_datetime(df_main.date)

In [70]:
df_main.date

21171   2020-01-26
21172   2020-01-27
21173   2020-01-28
21174   2020-01-29
21175   2020-01-30
           ...
21826   2021-11-11
21827   2021-11-12
21828   2021-11-13
21829   2021-11-14
21830   2021-11-15
Name: date, Length: 660, dtype: datetime64[ns]

Seperating various components of the date

In [72]:
df_main['Year'] = pd.DatetimeIndex(df_main.date).year
df_main['Month'] = pd.DatetimeIndex(df_main.date).month
df_main['Day'] = pd.DatetimeIndex(df_main.date).day
df_main['Weekday'] = pd.DatetimeIndex(df_main.date).weekday

In [73]:
df_main.head(10)

,location,date,new_cases,new_deaths,tests,Year,Month,Day,Weekday
21171,Canada,2020-01-26,1.0,NaN,NaN,2020,1,26,6
21172,Canada,2020-01-27,0.0,NaN,NaN,2020,1,27,0
21173,Canada,2020-01-28,1.0,NaN,NaN,2020,1,28,1
21174,Canada,2020-01-29,0.0,NaN,NaN,2020,1,29,2
21175,Canada,2020-01-30,0.0,NaN,NaN,2020,1,30,3
21176,Canada,2020-01-31,2.0,NaN,NaN,2020,1,31,4
21177,Canada,2020-02-01,0.0,NaN,NaN,2020,2,1,5
21178,Canada,2020-02-02,0.0,NaN,NaN,2020,2,2,6
21179,Canada,2020-02-03,0.0,NaN,NaN,2020,2,3,0
21180,Canada,2020-02-04,0.0,NaN,NaN,2020,2,4,1

Let's check the overall metrics for April, 2020. We can query the rows for April, choose a subset of columns, and use the `sum` method to aggregate each selected column's values.

In [89]:
df_main_april_20 = df_main[(df_main.Month == 4) & (df_main.Year == 2020)]

In [90]:
df_main_april_20.head(30)

,location,date,new_cases,new_deaths,tests,Year,Month,Day,Weekday
21237,Canada,2020-04-01,1281.0,23.0,14021.0,2020,4,1,2
21238,Canada,2020-04-02,1692.0,49.0,16421.0,2020,4,2,3
21239,Canada,2020-04-03,1340.0,53.0,14858.0,2020,4,3,4
21240,Canada,2020-04-04,1347.0,83.0,15061.0,2020,4,4,5
21241,Canada,2020-04-05,1569.0,75.0,12492.0,2020,4,5,6
21242,Canada,2020-04-06,1046.0,85.0,10808.0,2020,4,6,0
21243,Canada,2020-04-07,1337.0,61.0,7846.0,2020,4,7,1
21244,Canada,2020-04-08,1264.0,67.0,8727.0,2020,4,8,2
21245,Canada,2020-04-09,1380.0,123.0,10827.0,2020,4,9,3
21246,Canada,2020-04-10,1275.0,96.0,10632.0,2020,4,10,4
21247,Canada,2020-04-11,1307.0,119.0,12410.0,2020,4,11,5
21248,Canada,2020-04-12,1219.0,109.0,12065.0,2020,4,12,6
21249,Canada,2020-04-13,1634.0,130.0,11429.0,2020,4,13,0
21250,Canada,2020-04-14,1626.0,136.0,11169.0,2020,4,14,1
21251,Canada,2020-04-15,1660.0,154.0,12607.0,2020,4,15,2
21252,Canada,2020-04-16,2567.0,203.0,12531.0,2020,4,16,3
21253,Canada,2020-04-17,2086.0,126.0,13897.0,2020,4,17,4
21254,Canada,2020-04-18,1482.0,143.0,13643.0,2020,4,18,5
21255,Canada,2020-04-19,1668.0,158.0,15916.0,2020,4,19,6
21256,Canada,2020-04-20,1565.0,146.0,23005.0,2020,4,20,0
21257,Canada,2020-04-21,1743.0,193.0,21372.0,2020,4,21,1
21258,Canada,2020-04-22,2307.0,195.0,21125.0,2020,4,22,2
21259,Canada,2020-04-23,1669.0,171.0,24192.0,2020,4,23,3
21260,Canada,2020-04-24,1697.0,180.0,24979.0,2020,4,24,4
21261,Canada,2020-04-25,1563.0,187.0,28763.0,2020,4,25,5
21262,Canada,2020-04-26,1432.0,157.0,26967.0,2020,4,26,6
21263,Canada,2020-04-27,1619.0,185.0,27518.0,2020,4,27,0
21264,Canada,2020-04-28,1676.0,197.0,26977.0,2020,4,28,1
21265,Canada,2020-04-29,1764.0,244.0,23754.0,2020,4,29,2
21266,Canada,2020-04-30,1655.0,179.0,27778.0,2020,4,30,3

In [91]:
df_main_april_20_metrics = df_main_april_20[['new_cases', 'new_deaths', 'tests']]

In [92]:
df_main_april_20_metrics.sum()

new_cases      47470.0
new_deaths      4027.0
tests         513790.0
dtype: float64

Above code can we written in a single line as well. Such as:

In [95]:
df_main[(df_main.Year == 2020) & (df_main.Month == 4)][['new_cases', 'new_deaths', 'tests']].sum()

new_cases      47470.0
new_deaths      4027.0
tests         513790.0
dtype: float64

In [96]:
import jovian
jovian.commit()

[jovian] Updating notebook "vishalmoradia/python-pandas-data-analysis" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/vishalmoradia/python-pandas-data-analysis

'https://jovian.ai/vishalmoradia/python-pandas-data-analysis'

## Grouping and aggregation

As a next step, we might want to summarize the day-wise data and create a new dataframe with month-wise data. We can use the `groupby` function to create a group for each month, select the columns we wish to aggregate, and aggregate them using the `sum` method.

In [102]:
df_main_year_month = df_main.groupby(by = ['Year','Month'])[['new_cases', 'new_deaths', 'tests']].sum()

Instead of aggregating by sum, you can also aggregate by other measures like mean. Let's compute the average number of daily new cases, deaths, and tests for each month.

In [104]:
df_main_year_month_avg = df_main.groupby(by = ['Year','Month'])[['new_cases', 'new_deaths', 'tests']].mean()

In [105]:
df_main_year_month_avg

              new_cases  new_deaths          tests
Year Month
2020 1         0.666667         NaN            NaN
     2         0.586207         NaN      52.333333
     3       297.580645    6.608696    7041.160000
     4      1582.333333  134.233333   17126.333333
     5      1153.935484  120.225806   31064.806452
     6       451.366667   29.133333   41315.000000
     7       395.741935    7.903226   48501.322581
     8       404.903226    5.419355   56410.516129
     9      1062.900000    6.600000   76639.566667
     10     2434.032258   28.548387   93031.354839
     11     4817.233333   65.433333   98256.633333
     12     6603.903226  113.645161  118948.483871
2021 1      6332.451613  138.032258  117034.935484
     2      3125.285714   69.785714  101815.678571
     3      3814.516129   31.129032  103242.032258
     4      7993.733333   42.000000  127825.733333
     5      5177.709677   42.838710  106799.258065
     6      1111.866667   24.933333   65944.100000
     7       493.129032    9.774194   56797.612903
     8      2214.032258   12.580645   64855.161290
     9      4151.833333   30.833333   93108.433333
     10     2963.193548   35.741935   94354.290323
     11     2487.733333   27.533333   85498.000000

Apart from grouping, another form of aggregation is the running or cumulative sum of cases, tests, or death up to each row's date. We can use the `cumsum` method to compute the cumulative sum of a column as a new series. Let's add three new columns: `total_cases`, `total_deaths`, and `total_tests`.

In [106]:
df_main['total_cases'] = df_main.new_cases.cumsum()
df_main['total_deaths'] = df_main.new_deaths.cumsum()
df_main['total_tests'] = df_main.tests.cumsum()

In [107]:
df_main

,location,date,new_cases,new_deaths,tests,Year,Month,Day,Weekday,total_cases,total_deaths,total_tests
21171,Canada,2020-01-26,1.0,NaN,NaN,2020,1,26,6,1.0,NaN,NaN
21172,Canada,2020-01-27,0.0,NaN,NaN,2020,1,27,0,1.0,NaN,NaN
21173,Canada,2020-01-28,1.0,NaN,NaN,2020,1,28,1,2.0,NaN,NaN
21174,Canada,2020-01-29,0.0,NaN,NaN,2020,1,29,2,2.0,NaN,NaN
21175,Canada,2020-01-30,0.0,NaN,NaN,2020,1,30,3,2.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
21826,Canada,2021-11-11,1441.0,14.0,104315.0,2021,11,11,3,1749800.0,29317.0,47198025.0
21827,Canada,2021-11-12,3922.0,45.0,95840.0,2021,11,12,4,1753722.0,29362.0,47293865.0
21828,Canada,2021-11-13,1352.0,14.0,89517.0,2021,11,13,5,1755074.0,29376.0,47383382.0
21829,Canada,2021-11-14,1378.0,9.0,80674.0,2021,11,14,6,1756452.0,29385.0,47464056.0
21830,Canada,2021-11-15,4370.0,50.0,74146.0,2021,11,15,0,1760822.0,29435.0,47538202.0

In [109]:
import jovian
jovian.commit()

[jovian] Updating notebook "vishalmoradia/python-pandas-data-analysis" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/vishalmoradia/python-pandas-data-analysis

'https://jovian.ai/vishalmoradia/python-pandas-data-analysis'